@media screen and (min-width:993px) and (max-width:1200px) {
 .charactor{
  display: none;
 }
}

@media screen and (max-width:992px) {
 .mainCOntent{
  flex: 100% !important;
 }
 .card{
  width: 45%;
 }
}
@media screen and (max-width:768px) {
 
 .card{
  width: 100%;
 }
 button{
  width: 50% !important;
 }
}